<!DOCTYPE html>
<html>
  <head>
    <title>PLAYLISTER</title>
  </head>
  <body>
  <h1>Welcome to Playlister!</h1>
  <h2><a href="tmp/_site/artists/index.html">Artists: <%= Artist.all.size %></a><h2>
  <h2><a href="tmp/_site/songs/index.html">Songs: <%= Song.all.size %></a><h2>
  <h2><a href="tmp/_site/genres/index.html">Genres: <%= Genre.all.size %></a><h2>
  </body>
</html>